---
interface Props {
  category: string;
}

const { category } = Astro.props;

---

<span class="inline-block rounded-full border border-border-primary px-2 py-0.5 text-xs font-medium text-text-primary">
  {category}
</span>
